---
import Slide01Portada from './slides/Slide01Portada.astro';
import Slide02Agenda from './slides/Slide02Agenda.astro';
import Slide03ElProblema from './slides/Slide03ElProblema.astro';
import Slide04Contexto from './slides/Slide04Contexto.astro';
import Slide05LaOportunidad from './slides/Slide05LaOportunidad.astro';
import Slide06Objetivos from './slides/Slide06Objetivos.astro';
import Slide07Justificacion from './slides/Slide07Justificacion.astro';
import Slide08ContextoGuatemala from './slides/Slide08ContextoGuatemala.astro';
import Slide09MarcoTeoricoCnn from './slides/Slide09MarcoTeoricoCnn.astro';
import Slide10ConvolucionInteractiva from './slides/Slide10ConvolucionInteractiva.astro';
import Slide11Arquitecturas from './slides/Slide11Arquitecturas.astro';
import Slide12Metodologia from './slides/Slide12Metodologia.astro';
import Slide13BancoDocumental from './slides/Slide13BancoDocumental.astro';
import Slide14PipelineWidget from './slides/Slide14PipelineWidget.astro';
import Slide15CondicionesControladas from './slides/Slide15CondicionesControladas.astro';
import Slide16MetricasDeEvaluacion from './slides/Slide16MetricasDeEvaluacion.astro';
import Slide17ResultadosMetricasWidget from './slides/Slide17ResultadosMetricasWidget.astro';
import Slide18CurvaRocWidget from './slides/Slide18CurvaRocWidget.astro';
import Slide19MatricesDeConfusionWidget from './slides/Slide19MatricesDeConfusionWidget.astro';
import Slide20SimuladorDeUmbralWidget from './slides/Slide20SimuladorDeUmbralWidget.astro';
import Slide21EficienciaComputacional from './slides/Slide21EficienciaComputacional.astro';
import Slide22CochranQMetodo from './slides/Slide22CochranQMetodo.astro';
import Slide23ContrasteEstadisticoResultados from './slides/Slide23ContrasteEstadisticoResultados.astro';
import Slide24Interpretabilidad from './slides/Slide24Interpretabilidad.astro';
import Slide25Discusion from './slides/Slide25Discusion.astro';
import Slide26Conclusiones from './slides/Slide26Conclusiones.astro';
import Slide27RecomendacionesLimitacionesFuturo from './slides/Slide27RecomendacionesLimitacionesFuturo.astro';
import Slide28Cierre from './slides/Slide28Cierre.astro';
---

<div class="scroll-root" width="1920" height="1080">
  <Slide01Portada />
  <Slide02Agenda />
  <Slide03ElProblema />
  <Slide04Contexto />
  <Slide05LaOportunidad />
  <Slide06Objetivos />
  <Slide07Justificacion />
  <Slide08ContextoGuatemala />
  <Slide09MarcoTeoricoCnn />
  <Slide10ConvolucionInteractiva />
  <Slide11Arquitecturas />
  <Slide12Metodologia />
  <Slide13BancoDocumental />
  <Slide14PipelineWidget />
  <Slide15CondicionesControladas />
  <Slide16MetricasDeEvaluacion />
  <Slide17ResultadosMetricasWidget />
  <Slide18CurvaRocWidget />
  <Slide19MatricesDeConfusionWidget />
  <Slide20SimuladorDeUmbralWidget />
  <Slide21EficienciaComputacional />
  <Slide22CochranQMetodo />
  <Slide23ContrasteEstadisticoResultados />
  <Slide24Interpretabilidad />
  <Slide25Discusion />
  <Slide26Conclusiones />
  <Slide27RecomendacionesLimitacionesFuturo />
  <Slide28Cierre />
</div>
